@import 'tailwindcss';
@import './auth.css';
@import './components/forms.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #2AA58C;
    --color-secondary: #1565C0;
}

/* Alpine.js x-cloak */
[x-cloak] {
    display: none !important;
}